 # Task 3 =  ChatGPT for Data Q&A

# importing all necessary liabraries

In [1]:
import pandas as pd       
import numpy as np

 # 1.Upload a sample CSV (like student marks, sales, etc.)

In [3]:
df=pd.read_csv(r'C:\Users\admin\Downloads\StudentsPerformance.csv')

 # 2.Extract basic info (columns, rows, sample data)

# # Number of rows and columns

In [6]:
print("Shape of the dataset:", df.shape)

Shape of the dataset: (1000, 8)

# Column names

In [8]:
print("\nColumns in the dataset:", df.columns.tolist())

Columns in the dataset: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

# Show first 5 rows

In [33]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

 # 3.Convert table to string (small dataset only)

# # Step 1: Create a small dataset

In [10]:
data = {
    'StudentID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math': [88, 75, 92, 85, 79],
    'Science': [90, 80, 85, 88, 84],
    'English': [82, 78, 88, 76, 91],
    'History': [85, 89, 90, 83, 87]
}

# storing these data into Datafeame

In [13]:
df1 = pd.DataFrame(data)

In [15]:
df1

   StudentID     Name  Math  Science  English  History
0        101    Alice    88       90       82       85
1        102      Bob    75       80       78       89
2        103  Charlie    92       85       88       90
3        104    David    85       88       76       83
4        105      Eva    79       84       91       87

# Converting the table to a string

In [18]:
table_string = df1.to_string(index=False)
print(table_string)

 StudentID    Name  Math  Science  English  History
       101   Alice    88       90       82       85
       102     Bob    75       80       78       89
       103 Charlie    92       85       88       90
       104   David    85       88       76       83
       105     Eva    79       84       91       87

 # 4.Ask GPT: ‚ÄúTop student in Math?

In [21]:
top_math_student = df1.loc[df1['Math'].idxmax()]
print("Top student in Math:")
print(top_math_student)

Top student in Math:
StudentID        103
Name         Charlie
Math              92
Science           85
English           88
History           90
Name: 2, dtype: object

# 5.Use OpenAI API to send prompt and get answer

# 1. Installing OpenAI Python package

In [ ]:
pip install openai

# my OpenAI API key

In [28]:
import openai

In [29]:
openai.api_key = "MY_API_KEY"

#  Sample data with possible NaNs

In [32]:
data = {
    'StudentID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math': [88, None, 92, 85, 79],  # Bob's Math score is missing
    'Science': [90, 80, 85, 88, 84],
    'English': [82, 78, 88, None, 91],  # David's English score is missing
    'History': [85, 89, 90, 83, 87]
}

# storing all data in dataframe

In [35]:
df2 = pd.DataFrame(data)

# Fill NaNs with 'N/A' or other placeholder for clarity in prompt

In [38]:
df_clean = df2.fillna('N/A')

# Convert dataframe to string without index

In [41]:
table_str = df_clean.to_string(index=False)

# Compose prompt with dataset and question

In [44]:
prompt = f"""
Here is a dataset of student marks:

{table_str}

Question: Who is the top student in Math?
"""

# Call OpenAI API

In [47]:
from openai import OpenAI

# Set your actual OpenAI API key here
client = OpenAI(api_key="sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxx")  # üîÅ Replace with your real key

In [ ]:
prompt = "Who is the top student in Math?"

response = client.chat.completions.create(
    model="gpt-4",
    messages=[
        {"role": "system", "content": "You are a helpful data analyst."},
        {"role": "user", "content": prompt}
    ],
    max_tokens=100,
    temperature=0
)a

print("GPT's answer:\n", response.choices[0].message.content)

# 6.Parse answer and show in console or web page

In [ ]:
import openai

openai.api_key = "your-api-key-here"

response = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[
        {"role": "system", "content": "You are a helpful data analyst."},
        {"role": "user", "content": "Who is the top student in Math?"}
    ]
)

answer = response.choices[0].message.content.strip()
print("GPT's answer:", answer)

# üåê Web Page Version (Flask)

In [ ]:
from flask import Flask
import openai

app = Flask(__name__)
openai.api_key = "your-api-key-here"

@app.route("/")
def index():
    response = openai.ChatCompletion.create(
        model="gpt-4",
        messages=[
            {"role": "system", "content": "You are a helpful data analyst."},
            {"role": "user", "content": "Who is the top student in Math?"}
        ]
    )
    answer = response.choices[0].message.content.strip()
    return f"<h1>GPT's answer:</h1><p>{answer}</p>"

if __name__ == "__main__":
    app.run()

#  7.Add predefined questions as buttons (optional)

Show buttons like:
üîò "Who is the top student in Math?"
üîò "What is the average score?"
üîò "List all students above 90%"

When a button is clicked, it sends the question to GPT and shows the answer.

# ‚úÖ Minimal Flask App with Buttons

In [ ]:
from flask import Flask, request
import openai

app = Flask(__name__)
client = openai.OpenAI(api_key="your-api-key-here")

# Predefined questions
questions = [
    "Who is the top student in Math?",
    "What is the average score?",
    "List all students above 90%"
]

@app.route("/", methods=["GET", "POST"])
def index():
    answer = ""
    if request.method == "POST":
        question = request.form["question"]
        response = client.chat.completions.create(
            model="gpt-4",
            messages=[
                {"role": "system", "content": "You are a helpful data analyst."},
                {"role": "user", "content": question}
            ]
        )
        answer = response.choices[0].message.content.strip()

    html = "<h2>Select a question:</h2><form method='post'>"
    for q in questions:
        html += f"<button name='question' value='{q}'>{q}</button><br><br>"
    html += "</form>"

    if answer:
        html += f"<h3>GPT's answer:</h3><p>{answer}</p>"

    return html

if __name__ == "__main__":
    app.run()

#  8.Log all questions and answers

# Updated Flask App (with Logging)

In [ ]:
from flask import Flask, request
import openai
from datetime import datetime

app = Flask(__name__)
client = openai.OpenAI(api_key="your-api-key-here")

# Predefined questions
questions = [
    "Who is the top student in Math?",
    "What is the average score?",
    "List all students above 90%"
]

LOG_FILE = "qna_log.txt"

def log_question_answer(question, answer):
    timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    with open(LOG_FILE, "a", encoding="utf-8") as log:
        log.write(f"[{timestamp}] Q: {question}\nA: {answer}\n\n")

@app.route("/", methods=["GET", "POST"])
def index():
    answer = ""
    if request.method == "POST":
        question = request.form["question"]
        response = client.chat.completions.create(
            model="gpt-4",
            messages=[
                {"role": "system", "content": "You are a helpful data analyst."},
                {"role": "user", "content": question}
            ]
        )
        answer = response.choices[0].message.content.strip()

        # üî¥ Log the Q&A
        log_question_answer(question, answer)

    html = "<h2>Select a question:</h2><form method='post'>"
    for q in questions:
        html += f"<button name='question' value='{q}'>{q}</button><br><br>"
    html += "</form>"

    if answer:
        html += f"<h3>GPT's answer:</h3><p>{answer}</p>"

    return html

if __name__ == "__main__":
    app.run()

# üìÅ Output in qna_log.txt:

[2025-08-30 15:20:15] Q: Who is the top student in Math?
A: The top student in Math is Alice Johnson with a score of 98.

[2025-08-30 15:22:02] Q: What is the average score?
A: The average score is 87.4%.

#  9.Handle large data by summarizing it first

In [70]:
# loading dataset
df2

   StudentID     Name  Math  Science  English  History
0        101    Alice  88.0       90     82.0       85
1        102      Bob   NaN       80     78.0       89
2        103  Charlie  92.0       85     88.0       90
3        104    David  85.0       88      NaN       83
4        105      Eva  79.0       84     91.0       87

# Convert to Text for GPT

In [73]:
# Fill NaNs for display
df_display = df2.fillna("Missing")

# Convert to readable text (CSV-style string for GPT)
data_text = df_display.to_string(index=False)

# Summarize the Data via GPT

In [ ]:
import openai

client = openai.OpenAI(api_key="your-api-key-here")

# Summarize the structured data
summary_prompt = f"Summarize the following student data:\n\n{data_text}"

response = client.chat.completions.create(
    model="gpt-4",
    messages=[
        {"role": "system", "content": "You are a helpful data analyst."},
        {"role": "user", "content": summary_prompt}
    ]
)

summary = response.choices[0].message.content.strip()
print("Summary:\n", summary)

#  10.Export Q&A as PDF report

# Libraries Needed

In [ ]:
pip install fpdf flask openai

# Updated Flask App (with PDF Export)

In [ ]:
from flask import Flask, request, send_file
import openai
from datetime import datetime
from fpdf import FPDF

app = Flask(__name__)
client = openai.OpenAI(api_key="your-api-key-here")

questions = [
    "Who is the top student in Math?",
    "What is the average score?",
    "List all students above 90%"
]

LOG_FILE = "qna_log.txt"
PDF_FILE = "report.pdf"

# Load and summarize your data once here if needed (optional)

def log_question_answer(question, answer):
    timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    with open(LOG_FILE, "a", encoding="utf-8") as log:
        log.write(f"[{timestamp}] Q: {question}\nA: {answer}\n\n")

def generate_pdf_report():
    pdf = FPDF()
    pdf.add_page()
    pdf.set_font("Arial", size=12)

    with open(LOG_FILE, "r", encoding="utf-8") as f:
        lines = f.readlines()

    for line in lines:
        pdf.multi_cell(0, 10, line)

    pdf.output(PDF_FILE)

@app.route("/", methods=["GET", "POST"])
def index():
    answer = ""
    if request.method == "POST":
        if "question" in request.form:
            question = request.form["question"]
            response = client.chat.completions.create(
                model="gpt-4",
                messages=[
                    {"role": "system", "content": "You are a helpful data analyst."},
                    {"role": "user", "content": question}
                ]
            )
            answer = response.choices[0].message.content.strip()
            log_question_answer(question, answer)

        elif "download_pdf" in request.form:
            generate_pdf_report()
            return send_file(PDF_FILE, as_attachment=True)

    html = "<h2>Select a question:</h2><form method='post'>"
    for q in questions:
        html += f"<button name='question' value='{q}'>{q}</button><br><br>"
    html += "<br><button name='download_pdf' value='1'>Download Q&A PDF Report</button>"
    html += "</form>"

    if answer:
        html += f"<h3>GPT's answer:</h3><p>{answer}</p>"

    return html

if __name__ == "__main__":
    app.run()

Users can click questions as before

A new Download Q&A PDF Report button appears

Clicking it downloads report.pdf with all previous Q&As